<!-- <%= render partial: "/shared/sub_nav" %> -->

<div class="container mt-5">
  <% if !@drives.any? %>
    <h4>You don't have any offered rides</h4>
    <div class="container">
      <div class="row justify-content-md-center">
        <%= link_to "Offer a ride", root_path, class: "btn btn-primary btn-lg " %>
      </div>
    </div>
  <% else %>
    <table class="table table-hover table-borderless  ">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Airport</th>
          <th scope="col">Spots</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Notification</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @drives.each do |drive| %>
          <tr>
            <td><%= drive.event.event_details%></td>
            <td ><%= drive.airport %></td>
            <td>
              <div class="ml-3"><%= drive.spot %></div>
            </td>
            <td><%= display_date(drive) %></td>
            <td><%= display_time(drive) %></td>
            <td>
              <% if drive.rides.any? %>
                <%= link_to requested_drive_path(drive) do %>
                  <div class="ml-4">
                    <i class="material-icons text-danger mb-0" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-content="Ride is needed">notifications_active</i>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to 'Edit', edit_drive_path(drive), class: "btn btn btn-info btn-sm" %>
            </td>
            <td>
              <%= link_to 'Delete', drive, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-info btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
