<%= render partial: "/drives/nav" %>

<div class="container mt-4">
  <div class="h3 text-secondary mb-1">Need a Ride</div>
    <div class="row">
      <% @rides.each do |ride| %>
        <% @drives.each do |drive| %>
          <% if drive.matching_with_rides(ride) %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="d-flex justify-content-between align-items-center">
              <div class="card bg-light mt-3" style="width: 20rem;">
                <img class="card-img-top rounded img-thumbnail img-responsive" src="https://res.cloudinary.com/dbo1mgpii/image/upload/v1524945852/empire_state_building_getty_zsolt_hlinka.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-2">
                        <i class="material-icons text-muted align-top mt-3">person</i>
                        <i class="material-icons text-muted align-top mt-3">local_airport</i>
                        <i class="material-icons text-muted align-top mt-3">group_add</i>
                        <i class="material-icons text-muted align-top mt-3">schedule</i>
                      </div>
                      <div class="col-10">
                        <p class="mt-3"><%= ride.user.first_name.capitalize %> <%= ride.user.last_name.capitalize %></p>
                        <p class="mt-3"><%= ride.airport %></p>
                        <p><%= ride.spot %></p>
                        <%=ride.date.strftime('%A, %b %d, %Y')%>
                        <div>
                          <%=ride.time.strftime('%H:%M %p')%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
