<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mr-1 mb-1">
    <%= cl_image_tag("fullsizeoutput_11e6.jpg", :background=>"#f8f9fa", :border=>"0px_solid_rgb:f6f2f2", :color=>"#f6f2f2", :color_space=>"srgb", :density=>277, :flags=>"progressive", :quality=>100, :radius=>30, :transformation=>["media_lib_thumb"], :width=>22, :height=>22)%>
  </div>
  <%= link_to "DW Rides", root_path, class: "navbar-brand text-danger", style: "text-decoration: none" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item nav-link align-right mr-2">
        <%= link_to "Home", root_path, class: "text-secondary", style: "text-decoration: none" %>
      </li> -->
      <% if !user_signed_in? %>
        <li class="nav-item nav-link align-right mr-2">
          <%= link_to "My Requests", rides_path, class: "text-secondary", style: "text-decoration: none" %>
        </li>
        <li class="nav-item nav-link align-right mr-2">
          <%= link_to "My Offers", drives_path, class: "text-secondary", style: "text-decoration: none" %>
        </li>
      <% end %>
    </ul>

    <% if !user_signed_in? %>
      <a class="btn btn-danger btn-sm text-white nav-button" href="/users/sign_up" role="button" aria-pressed="true">Sign Up</a>
      <ul class="navbar-nav">
        <li class="nav-item mr-1">
          <a class=" nav-link text-secondary" href="/users/sign_in">Log In</a>
        </li>
      </u>
    <% else %>
      <% if current_user.admin %>
        <a class="btn btn-warning btn-sm text-dark nav-button" href="/events" role="button" aria-pressed="true">Admin</a>
      <% end %>
      <ul class="navbar-nav mr-2">
        <li class="nav-link align-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to current_user.first_name, rides_path, class: "text-secondary user-name", style: "text-decoration: none" %>
        </li>
        <div class="dropdown-menu dropdown-menu-right mr-3">
          <button class="dropdown-item font-weight-light" type="button">Profile</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item font-weight-light" type="button">
            <%= link_to "Trips", class: "text-dark", style: "text-decoration: none" %>
            </button>
          <button class="dropdown-item font-weight-light" type="button">Settings</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item font-weight-light" type="button">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-dark", style: "text-decoration: none" %>
          </button>
       </div>
      </ul>
    <% end %>
  </div>
</nav>
