<% if @available_rides.nil? %>
  <div class="container text-dark h5 mt-5">
    You don't have available rides
  </div>
<% else %>
  <div class="container mb-5 mt-5">
    <h2>Available Rides</h2>
    <div class="row mt-0">
      <% @available_rides.each do |drive| %>
        <div class="col-sm-6 col-md-5 col-lg-3 mb-5">
            <div class="px-5">
              <img class="rounded-circle mt-2 mb-2 img-thumbnail img-responsive" src="https://res.cloudinary.com/dbo1mgpii/image/upload/v1529985991/chandler.jpg" alt="Card image cap">
            </div>
            <div class="card-body bg-light px-2">
              <div class="d-flex justify-content-between align-items-start mb-0 mt-3">
                <div class="col-2">
                  <i class="material-icons text-muted mb-3">person</i>
                  <i class="material-icons text-muted mb-3">local_airport</i>
                  <i class="material-icons text-muted mb-3">group_add</i>
                  <i class="material-icons text-muted mb-3">schedule</i>
                </div>
                <div class="col-10">
                  <div class="mb-3">
                    <%= drive.user.first_name.capitalize %> <%= drive.user.last_name.capitalize %>
                  </div>
                  <div class="mb-3">
                    <%= drive.airport %>
                  </div>
                  <div class="mb-3">
                    <%= drive.spot %>
                  </div>
                  <div class="mb-3">
                    <%= drive.date.strftime('%A, %b %d') %>
                    <div>
                      <%= drive.time.strftime('%I:%M %p') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <% if drive.reserved? %>
                <%= link_to "Cancel", cancel_drive_path(drive, ride: @ride.id), class: "btn btn-danger btn-lg btn-block" %>
              <% else %>
                <%= link_to "Reserve", reserve_drive_path(drive, ride: @ride.id), class: "btn btn-info btn-lg btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
