<div class="container mt-5">
  <% if !@rides.any? %>
    <h4>You don't have any requested rides</h4>
    <div class="container">
      <div class="row justify-content-md-center">
        <%= link_to "Request a ride", root_path, class: "btn btn-primary btn-lg " %>
      </div>
    </div>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Airport</th>
          <th scope="col">Spots</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Notification</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @rides.each do |ride| %>
          <tr>
            <td><%= ride.event.event_details%></td>
            <td ><%= ride.airport %></td>
            <td>
              <div class="ml-3"><%= ride.spot %></div>
            </td>
            <td><%= display_date(ride) %></td>
            <td><%= display_time(ride) %></td>
            <td>
              <% if !ride.available!.nil? && ride.reserved!.empty? %>
                <%= link_to available_ride_path(ride) do %>
                  <div class="ml-4">
                    <i class="material-icons text-danger mb-0" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-content="Ride is available">notifications_active</i>
                  </div>
                <% end %>
              <% end %>
              <% if !ride.reserved!.empty? %>
                <%= link_to available_ride_path(ride) do %>
                  <div class="ml-1 text-danger">
                      <%= ride.ride_spots %>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to 'Edit', edit_ride_path(ride), class: "btn btn btn-info btn-sm" %>
            </td>
            <td>
              <%= link_to 'Delete', ride, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-info btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
